<ion-view view-title="Contactos">
    <ion-content ng-show="ctrl.listPersonas.length > 0">
        <ion-list ng-repeat="persona in ctrl.listPersonas" ng-if="persona.activo === 1">
            <ion-item class="item-icon-left" ui-sref="app.details('{{persona.id}}')">
              <i class="icon ion-android-contact positive"></i>
              <h2>{{persona.nombre}} {{persona.apellido}}</h2>
              <p><i class="ion-alert-circled assertive"></i> {{persona.rut}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-content ng-show="ctrl.listPersonas.length === 0" class="text-center">
      <ion-spinner icon="circles"></ion-spinner> Cargando...
    </ion-content>
</ion-view>
